body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  width: 420px;
  height: 812px;
  overflow: hidden;
  background: var(--Neutral-Light-Lightest, #FFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  justify-content: center;
}

.step-indicator {
  font-weight: bold;
  align-self: flex-start;
}

.step-number {
  color: #2945FF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left:20px;
}

.step-number-total {
  color: var(--Miscellaneous-Tab---Unselected, #999);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
  margin-left: 5px;
}

.profile-title {
  font-size: 24px;
  font-weight: bolder;
  color: #1B1B1B;
  margin-bottom: 20px;
  font-family: Outfit;
  line-height: 32px;
  letter-spacing: 0.24px;
  margin-right: 130px;
}

.profile-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.profile-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.profile-picture {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#circle {
  display: flex;
  top: 105px;
  left: 100px;
  width: 24px;
  height: 24px;
  padding: 7px;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  background: #2945FF;
  position: absolute;
  z-index: 2;
}

.edit-icon {
  width: 14px;
  height: 14px;
  top: 109px;
  left: 111px;
  margin-right: 10px;
  gap: 0px;
  position: absolute;
  z-index: 3;
}

.profile-name {
  color: #2945FF;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.08px;
  margin-top: 10px;
}

.profile-form {
  width: 100%;
  padding: 0 20px;
}

.nickname-label {
  font-size: 14px;
  color: #1B1B1B;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.input-prefix {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #71727A;
}

.nickname-input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-radius: 8px;
  border: 1px solid #C5C6CC;
  font-size: 14px;
}

.next-button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #2945FF;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
