body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .connect-container {
    width: 420px;
    height: 812px;
    overflow: hidden;
    background: var(--Neutral-Light-Lightest, #FFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  .step-indicator {
    font-weight: bold;
    align-self: flex-start;
  }

  .step-number {
    color: #2945FF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left:20px;
  }

  .step-number-total {
    color: var(--Miscellaneous-Tab---Unselected, #999);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-left: 5px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bolder;
    color: #1B1B1B;
    font-family: Outfit;
    line-height: 32px;
    letter-spacing: 0.24px;
    margin-right: 80px;
  }

  .connect-wallet {
    color: var(--Grays-Black, var(--Grays-Black, #000));
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .girl-image {
    width: 180.923px;
    height: 168px;
    margin-left:25px;
    margin-bottom: 30px;
  }

  .number-section {
    color: var(--Grays-Black, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  
  .input-section {
    width: 337px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .confirm-button {
    width: 337px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #2945FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .confirm-button:hover {
    background-color: #1d36cc;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
  }